:root {
    --main-font-size:20px;
    --color-text-black:#222222;
    --color-text-gray:#8E8D89;
    --color-text-blue:#303C6C;
    --color-background:#FFFFFF;
    --color-gray-background: #f3f4f6;
    --color-border:#E0E0E0;
}