.modal-inside{
    display: flex;
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    flex-direction: column;
    gap: 20px;
}
.typo{
    border-style: solid;
    border-color: black;
    gap: 20px;
    padding-right: 20px;
}