@import '../../colors.css';


.navbar-container {
    display: flex;
    align-items: center;
    padding: 0em 2em;
  }
  
  /* Левый блок с элементами */
  .navbar-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
  }
  
  /* Блок поиска */
  .search-container {
    position: relative;
    display: flex;
    width: 10em;
  }
  
  /* Иконка поиска */
  .search-icon {
    position: absolute;
    left: 0.6em;
    top: 50%;
    margin-right: 0.5em;
    height: 1em;
    width: 1em;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  /* Поле ввода поиска */
  .search-input {
    width: 100%;
    border-radius: 0.6em;
    border: none;
    background-color: var(--color-gray-background); /* Серый фон */
    padding: 0.8em 0.8em 0.8em 3em;
    outline: none;
  }
  
  .search-input::placeholder {
    color: var(--color-text-gray); /* Цвет placeholder */
  }
  
  .search-input:focus {
    border-color: transparent;
    outline: none;
  }

  .logo-container img {
    width: 3.5em;
    height: 3.5em;
  }
  